
<nav>

    <div class="left-nav-contain items-contain">
        <img    src="../../../assets/principal/favicon.png"
                class="nav-img">

        <h1     class="title" 
                routerLink="/usuario">Airlines App</h1>
        <p class="lang-contain">Colombia</p>
    </div>

    <div class="rigth-nav-contain">
        <div class="items-contain-links">

            <a routerLink="/usuario/seleccionar-vuelo" data-replace="Ofertas de vuelos"><span>Ofertas de vuelos</span></a>
            <a routerLink="/usuario/vuelos-pagados"    data-replace="Mis viajes"><span>Mis viajes</span></a>
            <a routerLink="/usuario/observar-reservas" data-replace="Mis reservas"><span>Mis reservas</span></a>
        </div>
    </div>
</nav>
