.container-seleccion-reserva{
    width           : 100%;
    min-height      : 100vh;
    max-height      : 100%;
    display         : flex;
    flex-direction  : column;
    justify-content : top;
    align-items     : center;
    background-color: var(--secondary-white);

}

.btn {
  background-color: var(--principal-red);
  width: 30%;
}

.tittle {
  font-size   : 30px  ;
  font-weight : 800   ;
}

.seleccionar-reserva {
    width           : 80%        ;
    background-color: white   ;
    box-shadow: 0 0 0 1px rgba(53,72,91,.07), 0 2px 2px rgba(0,0,0,.01), 0 4px 4px rgba(0,0,0,.02), 0 10px 8px rgba(0,0,0,.03), 0 15px 15px rgba(0,0,0,.03), 0 30px 30px rgba(0,0,0,.04), 0 70px 65px rgba(0,0,0,.05);
    border-radius: 5px;
    border-bottom   : 5px solid var(--principal-red);
    display         : flex          ;
    flex-direction  : column        ;
    align-items     : center        ;
    justify-content : space-around  ;
    padding:  20px;
    overflow-y: auto;
}

.container-cedula{
    width           : 50%;
    height          : 140px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
    gap: 10px;
}

.alert{
    width: 450px !important;
}





.table {
    width       : 80%;
    box-shadow: 0 0 0 1px rgba(53,72,91,.07), 0 2px 2px rgba(0,0,0,.01), 0 4px 4px rgba(0,0,0,.02), 0 10px 8px rgba(0,0,0,.03), 0 15px 15px rgba(0,0,0,.03), 0 30px 30px rgba(0,0,0,.04), 0 70px 65px rgba(0,0,0,.05);
}

tr {

    width   : 100%;
}


.elements-tr:hover {
    background-color: var(--principal-red);
    cursor          : pointer;
    color           : white;
}

.element{
    font-size: 15px;
    padding: 10px;
    height: 15px;
}

td {
    width: 20%;
    height: 30px;
}

th {
    width: 20%;
    height: 30px;
}

.titulos {
  font-weight: normal;
}
